# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/
platform-api/node_modules/
platform-web/node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
platform-api/.env
platform-web/.env

# Build outputs
dist/
dist-ssr/
build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
ghp_*
src-note.zip
Database/
